@font-face {
    font-family: m-icons;
    src: url(fonts/icons.eot);
    src: url(fonts/icons.eot?#iefix) format("eot"), url(fonts/icons.woff) format("woff"), url(fonts/icons.ttf) format("truetype"), url(fonts/icons.svg#icons) format("svg")
}